package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};


/**
 * @program: assetsys
 * @ClassName: ${table.serviceName}
 * @description: $!{table.comment} service
 * @author:li
 * @Version 3.0
 **/

#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        }
#end
