<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assetsys.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.assetsys.entity.Files">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="size" property="size"/>
        <result column="enable" property="enable"/>
        <result column="url" property="url"/>
        <result column="md5" property="md5"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

</mapper>
